.login-background {
  width: 100%;
}
.login-container {
  background: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.login-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 24px 36px;
  border: white 2px solid;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.login-btn:hover {
  background-color: lightgrey;
  opacity: 0.8;
  color: black;
  border: red 2px solid;
}
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin-left: 20px;
  margin-top: 30px;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}

#students tr:hover {
  background-color: #ddd;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

#header {
  background: darkcyan;
  color: white;
  font-weight: 700;
}
.btn-container {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
}
.btn {
  background: darkcyan;
  color: white;
}
.account-block {
  margin: auto;

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 20%;

  display: flex;
  flex-direction: column;
  background: black;

  color: white;
  border: white 2px solid;
  border-radius: 2rem;

  width: 600px;
  text-align: center;
  padding-bottom: 20px;
}

.account-block-hide {
  display: none;
}
.account-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  background: darkcyan;
  padding-top: 10px;
  padding-top: 10px;
  font-weight: 800;
  color: black;
}
.account-form > input {
  margin: 5px;
  width: 70%;
  margin-left: 15%;
  border: none;
}

.account-form > .btn {
  font-weight: 800;
  color: black;
  background-color: lightgrey;
  margin-top: 10px;
}
textarea {
  margin-left: 5%;
  margin-right: 5%;
}
select {
  width: 70%;
  margin-left: 15%;
}
.navbar {
  margin: 0;
  padding: 0;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: #c4c9c4;
}
.add-icon {
  margin-right: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: none;
  border: none;
  outline: none;
}
.navbar > h3 {
  margin-top: 5px;
}
.search-container {
  margin-top: 10px;
  margin-left: 50px;
}
.search-container > input {
  margin-left: 5px;
  height: 20px;
  border: none;
}
.search-container > button {
  height: 20px;
  border: none;
  background: darkcyan;
  color: white;
}
.analysis {
  margin-left: 10%;
}
.pie-chart {
  width: 700px;
  margin-left: 20px;
}
.analysis-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
