.login-background {
  width: 100%;
}
.login-container {
  background: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.login-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 24px 36px;
  border: white 2px solid;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.login-btn:hover {
  background-color: lightgrey;
  opacity: 0.8;
  color: black;
  border: red 2px solid;
}
